@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-a0: #121212;
  --color-a10: #282828;
  --color-a40: #3F3F3F;
  --color-a50: #454847;
  --color-a60: #5d5f5f;

  --text-clr-100: #e5e4e4;
  --text-clr-100-accent: #828986;
  --text-clr-100-accent-2: #7f8885;

  --clr-accent-main: #628D7C;

  --border-radius-small: 5px;

  --btn-width-min: 100%;
  background: var(--color-a0);

}

html {
  font-family: var(--font-openSans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.capitalize-text {
  text-transform: capitalize;
}

.header-wrapper {
  width: calc(100% - 4rem);
  max-width: 1530px;
  margin: 0 auto;
  background: var(--color-a0);
}

.header-outer-wrapper {
  position: sticky;
  z-index: 500;
  top: 0;
  width: 100%;
  background: var(--color-a0);
}

.page-wrapper {
  width: calc(100% - 4rem);
  max-width: 1530px;
  margin: 0 auto;
  background: var(--color-a0);
}

.section-wrapper {
  display: flex;
  justify-content: center;
  color: var(--text-clr-100);
}

.quiz-container {
  margin-top: 2rem;
  background: var(--color-a10); 
  border-radius: 10px;
  width: 700px;
}

@media (max-width: 500px) {
  .quiz-start-modal-wrapper,
  .quiz-container {
    margin-top: 1rem;
  }
}

.question-container {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1rem;
}

@media (max-width: 675px) {
  .question-container {
    position: relative;
    padding: 1rem 2rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 500x) {
  .question-container {
    position: relative;
    padding: 1rem 1rem;
    font-size: 0.875rem;
  }
}

.answer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 2rem 2rem 2rem;
}

@media (max-width: 500px) {
  .answer-container {
  
    padding: 1rem 1.5rem 2rem 1.5rem;
  }
}

.btn-unanswered,
.btn-answer-correct,
.btn-not-chosen,
.btn-answer-incorrect {
  min-width: var(--btn-width-min);
  padding: 1rem 0.5rem;
  background: var(--color-a40);
  border: 1px solid var(--color-a60);
  border-radius: var(--border-radius-small);
  font-size: 1rem;
}

.btn-unanswered:hover {
  background-color: var(--color-a50);
}

.btn-answer-correct {
  border: 1px solid var(--clr-accent-main);
}

.btn-not-chosen {
  background-color: var(--color-a50);
  opacity: 0.3;
}

.btn-answer-incorrect {
  border: 1px solid rgb(202, 55, 55);
}

.btn-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.btn-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-a40);
}

@media (max-width: 675px) {
  .quiz-container {
    min-width: 100%;
  }

  .answer-container {
    grid-template-columns: 1fr;
  }

  .btn-unanswered,
  .btn-answer-correct,
  .btn-not-chosen,
  .btn-answer-incorrect {
    min-width: 100%;
    padding: 0.8rem 0.5rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 475px) {
  .answer-container {
    padding: 1rem 1.5rem 2rem 1.5rem;
  }
}

.btn-next {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  padding: 0.5rem 0.5rem;
  background: var(--clr-accent-main);
  border-radius: var(--border-radius-small);
}

.btn-play-again-container {
  position: relative;
  display: flex;
  column-gap: 1rem;
  justify-content: flex-end;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.btn-play-again-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-a50);
}

.btn-play-again {
  padding: 0.5rem 1rem;
  text-align: center;
  background: var(--clr-accent-main);
  border-radius: var(--border-radius-small);
  transition: all 100ms ease-in;
}

.btn-play-again:hover {
  background: #516b60;
}

@media (max-width: 600px) {
  .btn-play-again-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

@media (max-width: 475px) {
  .btn-play-again-container {
    display: grid;
    grid-template-columns: 1fr ;
    row-gap: 1rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

.ind-answer-container {
  position: relative;
}

.icon--correct-answer,
.icon--wrong-answer  {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  transform: translate(50%, -50%);
  color: var(--clr-accent-main);
  background: radial-gradient(var(--text-clr-100) 50%, transparent 50%);
}

.icon--wrong-answer {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  transform: translate(50%, -50%);
  color: rgb(202, 55, 55);
  background: radial-gradient(var(--text-clr-100) 50%, transparent 50%);
}

.quiz-header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem;
}

@media (max-width: 500px) {
  .header-wrapper {
    width: calc(100% - 2rem);
  }

  .page-wrapper {
    width: calc(100% - 2rem);
  }
}

.quiz-header-text-lg {
  font-size: clamp(1.1rem, 3vw + 5px, 1.25rem);
  font-weight: 600;
}

.question-count-text {
  font-size: 1rem;
}

@media (max-width: 500px) {
  .question-count-text {
    font-size: 0.875rem;
  }
}

.quiz-header-wrapper::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-a50);
}

.score-wrapper {
  width: 100%;
  width: 500px;
  border-radius: 10px;
}

.final-score-header-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 1rem 2rem 1rem 2rem;
  align-items: end;
}

.header-left {
  justify-self: start;
  align-self: end;
}

.header-middle {
  justify-self: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5rem;
}

.final-score-heading {
  position: relative;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
}

.final-score-header-wrapper::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-a40);
}

.score-graph-wrapper {
  display: flex;
  justify-content: center;
}

.quiz-results-inner-container {
  padding: 1rem 2rem 1rem 1rem;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.quiz-congrats-message {
  padding: 0 0 0 1rem;
  align-self: center; 
  min-width: 100%;
}

.graph-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media  (max-width: 600px) {
  .quiz-results-inner-container {
    grid-template-columns: 1fr;
    padding: 1rem 0rem 0rem 0rem;
  }

  .quiz-congrats-message {
    padding: 1rem 2rem 2rem 2rem;
  }
}

@media (max-width: 475px) {
  .question-container {
    position: relative;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
  }

  .quiz-header-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  .final-score-header-wrapper {
    padding: 1rem 1.5rem 1rem 1.5rem;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }

  .header-left {
    justify-self: center;
    align-self: center;
  }
  
  .header-middle {
    justify-self: center;
  }
  
  .header-right {
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
  }

  .quiz-results-inner-container {
    padding: 1rem 0rem 0rem 0rem;
  }

  .quiz-congrats-message {
    padding: 1rem 1.5rem 2rem 1.5rem;
  }
}

.final-score-container {
  margin-top: 2rem;
  background: var(--color-a10);
  border-radius: 10px;
  max-width: 700px;
}

/* Header */ 
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  font-family: var(--font-alegreya);
  color: var(--clr-accent-main);
  display: flex;
  align-items: center;
}

.logo-first-letter {
  color: var();
  font-size: 2.3rem;
  font-weight: 400;
  font-style: italic;
}

.rest-of-word {
  font-size: 1.5rem;
  font-style: italic;
  padding-top: 0.3rem;
}

@media (max-width: 500px) {
  .header-container {
    padding: 0.4rem 0
  }

  .logo-first-letter {
    font-size: 2.1rem;
  }
  
  .rest-of-word {
    font-size: 1.3rem;
    padding-top: 0.3rem;
  }
}

@media (max-width: 400px) {
  .logo-first-letter {
    font-size: 1.7rem;
  }
  
  .rest-of-word {
    font-size: 1.2rem;
    padding-top: 0.3rem;
  }
}

.btn--openDropdown {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.6em;
  color: var(--text-clr-100-accent);
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 500px) {
  .btn--openDropdown {
    font-size: 0.875rem;
  }
}

@media (max-width: 400px) {
  .btn--openDropdown {
    font-size: 0.75rem;
  }
}

.dropdown-wrapper {
  position: relative;
  bottom: 0;
  right: 0;
}

.dropdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  right: 0;
  color: red;
  border: 0.5px solid var(--color-a40);
  border-radius: 5px;
  background: var(--color-a10);
  z-index: 10;
  width: max-content;
  color: var(--text-clr-100);
  box-shadow: 
   rgba(3, 4, 4, 0.3) 0px 8px 12px 0px, 
   rgba(3, 4, 4, 0.3) 0px 0px 1px 1px;
}

.dropdown-link {
  display: block;
  padding: 0.7rem 2rem;
  font-size: 0.875rem;
  font-weight: 400;
}

.dropdown-link:hover {
  background: var(--color-a40);
}

/* Quiz start page */
.quiz-start-modal-wrapper {
  margin-top: 2rem;
  background: var(--color-a10);
  text-align: center;
  border-radius: 5px;
  width: 700px;
}

@media (max-width: 675px) {
  .quiz-start-modal-wrapper {
    width: 100%;
  }
}

.quiz-name-header-text {
  position: relative;
  padding: 1rem;
  font-size: clamp(1.3rem, 3vw + 5px, 1.8rem) ;
  text-transform: capitalize;
  text-align: center;
}

.quiz-name-header-text::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-a40);
}

.quiz-start-modal-wrapper  p {
  padding: 2rem 2rem;
  font-size: 0.875rem;
}

@media (max-width: 500px) {
  .btn-quiz-start-container {
    margin-top: 1rem;
  }
  
  .quiz-start-modal-wrapper  p {
    padding: 1rem 1.2rem;
    font-size: 0.875rem;
  }
}

.btn-quiz-start {
  margin: 0.4rem 0 1.5rem 0;
  padding: 0.7rem;
  border-radius: 5px;
  background: var(--clr-accent-main);
}

.btn-quiz-start:hover {
  background: #516b60;
}

.background-container {
  position: relative;
  min-height: calc(100dvh - 56px);
}

.homepage-background {
  position: absolute;
  inset: 0;
  object-fit: cover;
  background-image: url('../../public/images/horror-background.png');
  background-size: cover;
  background-position: center;
}

.homepage-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;  
}

 @media screen and (max-width: 1000px) {
  .homepage-background {
    object-position: 50% 0;
  }
 }

 @media screen and (max-width: 700px) {
  .homepage-background {
    object-position: 60% 0;
  }
 }

 @media screen and (max-width: 500px) {
  .homepage-background {
    object-position: 63% 0;
  }
 }

 .homepage-overlay {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;   
  background: rgb(18,18,18);
  background: linear-gradient(113deg, 
                            rgba(18, 18, 18, 1) 0%, 
                            rgba(18, 18, 18, 1) 30%, 
                            rgba(18, 18, 18, 0.9) 35%, 
                            rgba(18, 18, 18, 0.9) 40%, 
                            rgba(25, 30, 28, 0.7) 50%, 
                            rgba(41, 57, 51, 0.5) 65%, 
                            rgba(40, 54, 49, 0.1) 80%, 
                            rgba(98, 141, 124, 0.1) 100%
                          );
  background-blend-mode: overlay;
 }

 /* @media (min-width: 1300px) {
  .homepage-overlay {
    background: linear-gradient(113deg, rgba(18,18,18,1) 0%,
                                        rgba(18,18,18,0.93) 35%,
                                        rgba(32,44,39,0.6) 60%,
                                        rgba(28,34,31,0.2) 70%,
                                        rgba(98,141,124,0.1) 100%
      );
   }
 } */

.text-color-one {
  color: var(--text-clr-100-accent-2);
}

.hero-text-main {
  position: relative;
  z-index: 100;
  color: var(--clr-accent-main);
  font-size: clamp(1.4rem, 3vw + 8px, 2.5rem); 
  max-width: 30ch;
  line-height: 1.2;
  font-weight: 400;
}

.hero-text-main--accent {
  /* border: 1px solid red; */
  color: #8B0000;
  font-family: var(--font-alegreya);
  font-style: italic;
  /* the '+ 5px' on each is to account for the change in font-family */
  font-size: clamp(1.8rem + 5px, 3vw + 5px + 5px, 2.5rem + 8px)
}

 .hero-text-wrapper {
  padding-top: 8rem;
  margin-left: 6rem;
 }

 .quiz-list-text-header {
  margin-top: 10rem;
  padding-bottom: 2rem;
  text-align: center;
  color: var(--text-clr-100-accent-2);
  font-size: clamp(1rem, 3vw + 3px, 1.5rem);
 }

 @media (max-width: 1100px) {
  .hero-text-wrapper {
   padding-top: 8rem;
   margin-left: 3vw;
  }
}

 @media (max-width: 600px) {
  .hero-text-wrapper {
    padding-top: 5rem;
    margin-left: 0;
  }

  .hero-text-main {
    line-height: 1.2;
  }

  .quiz-list-text-header {
    margin-top: 5rem;
    padding-bottom: 1rem;
  }

  .hero-text-main--accent {
    /* the '+ 2px' on each is to account for the change in font-family */
    font-size: clamp(1.8rem + 2px, 3vw + 5px + 2px, 2.5rem + 2px)
   }
}

@media (max-width: 500px) {
  .hero-text-main {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .hero-text-main--accent {
    /* the '+ 2px' on each is to account for the change in font-family */
    font-size: clamp(1.7rem, 3vw + 5px, 2.5rem)
  }

  .quiz-list-text-header {
    margin-top: 4rem;
    padding-bottom: 1rem;
  }
}

.bring-to-front {
  position: relative;
  z-index: 200;
  color: white;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  padding: 0 0 2rem 0;
}

@media (max-width: 600px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
   }
}

.card-image {
  width: 100%;
  height: auto;
}

.card-background {
  position: relative;
  border-radius: 5px;
  height: 325px;
  width: 100%;
  /* background-image: url("../../public/images/CardOneImage.png"); */
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card-text-wrapper {
  position: relative;
  padding: 1rem 1rem;
  z-index: 1;
}

.card-text-wrapper h3 {
  color: var(--clr-accent-main);
  font-size: clamp(1.1rem, 3vw + 5px, 1.5rem);
  padding-bottom: 0rem;
}

.card-text-wrapper p {
  color: var(--text-clr-100-accent);
  font-size: clamp(0.875rem, 2vw + 3px, 1rem);
}

.card-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--clr-accent-main);
  mix-blend-mode: hue;
  opacity: 0.6;
  z-index:10;
}

.text-overlay {
  position: absolute;
  inset: 0;
  background-color: #060606;
  opacity: 0.9;
  z-index:-1;
}

.glitch-text {
  /* letter-spacing: -1px; */
  font-weight: 300;
  display: inline-block;
  animation: glitch 1s linear infinite;
 
}

@keyframes glitch{
  2%,64%{
    transform: translate(0px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-0px,0) skew(0deg);
  }
  62%{
    transform: translate(1px,0) skew(2deg); 
  }
}

.glitch-text:before,
.glitch-text:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch-text:before{
  animation: glitchTop 1.7s linear infinite;
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(0px,0px);
  }
  4%,60%{
    transform: translate(1px,0px);
  }
  62%{
    transform: translate(3px,-1px) skew(-4deg); 
  }
}

.glitch-text:after{
  animation: glitchBottom 1.3s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom{
  2%,64%{
    transform: translate(0px, 0);
  }
  4%,60%{
    transform: translate(0px, 0);
  }
  62%{
    transform: translate(-2px, 9px) skew(5deg); 
  }
} 

.glitch-letter {
  display: inline-block;
  animation: reverseLetter 3s infinite;
}

@keyframes reverseLetter {
  0% {
    transform: scaleX(1);
  }
  49% {
    transform: scaleX(1); 
  }
  51% {
    transform: scaleX(-1); 
  }
  60% {
    transform: scaleX(1); 
  }
  100% {
    transform: scaleX(1); 
  }
}